<launch>
    <rosparam command="load" file="$(find integrated_navigation_driver)/config/config.yaml" />
    <arg name="NMEA_pub_topic" default="/nmea/sentence" />

    <!-- NMEA Serial Driver -->
<!--    <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" required="true">-->
<!--        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />&ndash;&gt;-->
<!--    </node>-->
    <node name="Binary_serial_driver_node" pkg="integrated_navigation_driver" type="binary_serial_parser_node" required="true" output="screen">
        <!--        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />&ndash;&gt;-->
    </node>

    <node name="Nmea_parser_node" pkg="integrated_navigation_driver" type="nmea_parser_node" required="true">
        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />
    </node>

    <node name="NavsatFix_generator_node" pkg="integrated_navigation_driver" type="navsatfix_generator_node" respawn="true">
    </node>

    <node name="Imu_generator_node" pkg="integrated_navigation_driver" type="imu_generator_node" respawn="true">
    </node>

    <node name="Odometry_generator_node" pkg="integrated_navigation_driver" type="odom_generator_node" respawn="true" output="screen">
    </node>

    <!--  GNSS visualization  -->
    <node pkg="rostopic" type="rostopic" name="fake_gps_fix"
          args="pub gps/fix sensor_msgs/NavSatFix '{ header: auto, latitude: 40.00571121, longitude: 116.35022637, altitude: 37.81999969482422}'"
          output="screen"/>

    <node pkg="rviz" type="rviz" name="odom_path_rviz"
          args="-d $(find integrated_navigation_driver)/launch/rviz/demo_utm.rviz"/>

</launch>