<launch>

<!-- NMEA Serial Parameters -->
    <arg name="serial_port" default="/dev/ttyUSB0" />
    <arg name="baud" default="115200" />
    <arg name="NMEA_pub_topic" default="/nmea/sentence" />

<!-- NMEA Parser Parameters -->
    <arg name="parse_GPFPD" default="true" />
    <arg name="parse_GTIMU" default="true" />
    <arg name="parse_GPGGA" default="true" />
    <arg name="parse_NVSTD" default="true" />
    <arg name="parse_GPCHC" default="false" />

<!-- NavsatFix/Imu message generator Parameters -->
    <!-- optional: GPCHC, GPFPD, GPGGA-->
    <arg name="NavsatFix_generate_from" default="GPGGA" />
    <!-- optional: GPCHC, GPFPD-GTIMU-->
    <arg name="Imu_generate_from" default="GPFPD-GTIMU" />
    <!-- parse gnss time to ROS NavsatFix stamp, if use GPGGA defalut time zone is 0-->
    <arg name="use_gnss_time" default="false" />
    <arg name="time_zone" default="8" />
    <!-- used for GPFPD: leap second from 1970s to 2022 is 27-->
    <arg name="leap_second" default="27" />



    <!-- NMEA Serial Driver -->
    <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" required="true">
        <param name="port" value="$(arg serial_port)" />
        <param name="baud" value="$(arg baud)" />
        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />
    </node>

    <node name="nmea_parser_node" pkg="integrated_navigation_driver" type="nmea_parser_node" required="true">
        <param name="use_GPFPD" value="$(arg parse_GPFPD)" />
        <param name="use_GTIMU" value="$(arg parse_GTIMU)" />
        <param name="use_GPGGA" value="$(arg parse_GPGGA)" />
        <param name="use_NVSTD" value="$(arg parse_NVSTD)" />
        <param name="use_GPCHC" value="$(arg parse_GPCHC)" />
        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />
    </node>

    <node name="NavsatFix_generator_node" pkg="integrated_navigation_driver" type="navsatfix_generator_node">
        <param name="NavsatFix_generate_from" value="$(arg NavsatFix_generate_from)" />
        <param name="use_gnss_time" value="$(arg use_gnss_time)" />
        <param name="time_zone" value="$(arg time_zone)" />
        <param name="leap_second" value="$(arg leap_second)" />
    </node>

    <node name="Imu_generator_node" pkg="integrated_navigation_driver" type="imu_generator_node">
        <param name="Imu_generate_from" value="$(arg Imu_generate_from)" />
        <param name="use_gnss_time" value="$(arg use_gnss_time)" />
        <param name="time_zone" value="$(arg time_zone)" />
        <param name="leap_second" value="$(arg leap_second)" />
    </node>

</launch>