<launch>
    <rosparam command="load" file="$(find integrated_navigation_driver)/config/config.yaml" />
    <arg name="NMEA_pub_topic" default="/nmea/sentence" />

    <!-- NMEA Serial Driver -->
    <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" required="true">
        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />-->
    </node>

    <node name="nmea_parser_node" pkg="integrated_navigation_driver" type="nmea_parser_node" required="true">
        <remap from="/nmea_sentence" to="$(arg NMEA_pub_topic)" />
    </node>

    <node name="NavsatFix_generator_node" pkg="integrated_navigation_driver" type="navsatfix_generator_node" respawn="true">
    </node>

    <node name="Imu_generator_node" pkg="integrated_navigation_driver" type="imu_generator_node" respawn="true">
    </node>

    <node name="Odom_generator_node" pkg="integrated_navigation_driver" type="odom_generator_node" respawn="true">
    </node>

</launch>